In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

In [15]:
# cctv 데이터 읽기
seoul_cctv = pd.read_csv("data-files/seoul-cctv.csv", encoding="utf-8")

In [16]:
seoul_cctv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   구분                 26 non-null     object
 1   총계                 26 non-null     object
 2   2013년 이전 설치된 CCTV  26 non-null     object
 3   2013년              26 non-null     object
 4   2014년              26 non-null     object
 5   2015년              26 non-null     object
 6   2016년              26 non-null     object
 7   2017년              26 non-null     object
 8   2018년              26 non-null     object
 9   2019년              26 non-null     object
 10  2020년              26 non-null     object
 11  2021년              26 non-null     object
 12  2022년              26 non-null     object
dtypes: object(13)
memory usage: 2.8+ KB

In [4]:
seoul_cctv.describe()

,구분,총계,2013년 이전 설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년
count,26,26,26,26,26,26,26,26,26,26,26,26,26
unique,26,26,25,26,26,26,26,25,26,25,26,25,26
top,계,"91,341",0,"3,097","3,981","6,576","8,850",563,"11,024",344,"11,912",207,"9,236"
freq,1,1,2,1,1,1,1,2,1,2,1,2,1

In [5]:
seoul_cctv.head()

,구분,총계,2013년 이전 설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년
0,계,"91,341","2,804","3,097","3,981","6,576","8,850","11,566","11,024","13,151","11,912","9,144","9,236"
1,종로구,"1,980",36,540,107,161,131,158,152,69,250,85,291
2,중 구,"2,584",130,87,77,236,240,372,386,155,361,403,137
3,용산구,"2,847",44,50,68,83,295,491,115,322,623,422,334
4,성동구,"4,047",58,99,110,366,279,945,459,647,485,367,232

In [17]:
# 구분 컬럼을 제외한 나머지 컬럼의 데이터를 수치형으로 변경
columns = seoul_cctv.columns
print( columns[1] )
for column in columns[1:]: # 총계, 2013이전, ...
    seoul_cctv[column] = seoul_cctv[column].map(lambda v: int(v.replace(",", "")))

seoul_cctv.info()

총계
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   구분                 26 non-null     object
 1   총계                 26 non-null     int64
 2   2013년 이전 설치된 CCTV  26 non-null     int64
 3   2013년              26 non-null     int64
 4   2014년              26 non-null     int64
 5   2015년              26 non-null     int64
 6   2016년              26 non-null     int64
 7   2017년              26 non-null     int64
 8   2018년              26 non-null     int64
 9   2019년              26 non-null     int64
 10  2020년              26 non-null     int64
 11  2021년              26 non-null     int64
 12  2022년              26 non-null     int64
dtypes: int64(12), object(1)
memory usage: 2.8+ KB